In [1]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv("C:/Users/Seung kyu Hong/Desktop/Seoul.csv",encoding="euc-kr")

In [168]:
a = ['2020-11-01', '2020-10-31', '2020-10-30',
       '2020-10-29', '2020-10-28', '2020-10-27', '2020-10-26',
       '2020-10-25', '2020-10-24', '2020-10-23', '2020-10-22',
       '2020-10-21', '2020-10-19', '2020-10-18', '2020-10-20',
       '2020-10-17', '2020-10-16', '2020-10-15', '2020-10-14',
       '2020-10-13', '2020-10-12', '2020-10-11', '2020-10-10',
       '2020-10-09', '2020-10-08', '2020-10-07', '2020-10-06',
       '2020-10-05', '2020-10-04', '2020-10-03', '2020-10-02',
       '2020-10-01', '2020-9-30', '2020-9-29', '2020-9-28', '2020-9-27',
       '2020-9-26', '2020-9-25', '2020-9-24', '2020-9-23', '2020-9-22',
       '2020-9-21', '2020-9-20', '2020-9-19', '2020-9-18', '2020-9-17',
       '2020-9-16', '2020-9-15', '2020-9-14', '2020-9-13', '2020-9-12',
       '2020-9-11', '2020-9-10', '2020-9-09', '2020-9-08', '2020-8-31',
       '2020-8-25', '2020-8-26', '2020-8-27', '2020-9-07', '2020-9-06',
       '2020-9-01', '2020-9-05', '2020-9-04', '2020-9-03', '2020-8-30',
       '2020-9-02', '2020-8-23', '2020-8-16', '2020-8-24', '2020-8-29',
       '2020-8-22', '2020-8-28', '2020-8-21', '2020-8-20', '2020-8-19',
       '2020-8-18', '2020-8-17', '2020-8-15', '2020-8-14', '2020-8-13',
       '2020-8-12', '2020-8-11', '2020-8-10', '2020-8-9', '2020-8-8',
       '2020-8-7', '2020-8-6', '2020-8-5', '2020-8-4', '2020-8-3',
       '2020-8-2', '2020-8-1', '2020-7-31', '2020-7-30', '2020-7-29',
       '2020-7-28', '2020-7-27', '2020-7-26', '2020-7-25', '2020-7-24',
       '2020-7-23', '2020-7-22', '2020-7-21', '2020-7-20', '2020-7-19',
       '2020-7-18', '2020-7-17', '2020-7-16', '2020-7-15', '2020-7-14',
       '2020-7-13', '2020-7-12', '2020-7-11', '2020-7-10', '2020-7-09',
       '2020-7-08', '2020-7-07', '2020-7-06', '2020-7-05', '2020-7-04',
       '2020-7-03', '2020-7-02', '2020-7-01', '2020-6-30', '2020-6-29',
       '2020-6-28', '2020-6-27', '2020-6-26', '2020-6-25', '2020-6-24',
       '2020-6-23', '2020-6-22', '2020-6-21', '2020-6-20', '2020-6-19',
       '2020-6-18', '2020-6-17', '2020-6-16', '2020-6-15', '2020-6-14',
       '2020-6-13', '2020-6-12', '2020-6-11', '2020-6-10', '2020-6-09',
       '2020-6-08', '2020-6-05', '2020-6-07', '2020-6-06', '2020-6-04',
       '2020-6-03', '2020-6-02', '2020-6-01', '2020-5-31', '2020-5-30',
       '2020-5-29', '2020-5-27', '2020-5-28', '2020-5-26', '2020-5-25',
       '2020-5-24', '2020-5-23', '2020-5-22', '2020-5-21', '2020-5-20',
       '2020-5-19', '2020-5-18', '2020-5-17', '2020-5-16', '2020-5-15',
       '2020-5-14', '2020-5-13', '2020-5-12', '2020-5-11', '2020-5-10',
       '2020-5-09', '2020-5-9', '2020-5-08', '2020-5-02', '2020-5-01',
       '2020-4-30', '2020-4-27', '2020-4-24', '2020-4-21', '2020-4-20',
       '2020-4-19', '2020-4-18', '2020-4-17', '2020-4-16', '2020-4-15',
       '2020-4-14', '2020-4-13', '2020-4-12', '2020-4-11', '2020-4-10',
       '2020-4-06', '2020-4-09', '2020-4-08', '2020-4-07', '2020-4-05',
       '2020-4-04', '2020-4-3', '2020-4-02', '2020-4-01', '2020-3-31',
       '2020-3-30', '2020-3-29', '2020-3-27', '2020-3-28', '2020-3-25',
       '2020-3-26', '2020-3-24', '2020-3-23', '2020-3-22', '2020-3-21',
       '2020-3-20', '2020-3-19', '2020-3-18', '2020-3-17', '2020-3-16',
       '2020-3-15', '2020-3-14', '2020-3-13', '2020-3-12', '2020-3-11',
       '2020-3-10', '2020-3-9', '2020-3-8', '2020-3-6', '2020-3-7',
       '2020-3-4', '2020-3-5', '2020-3-3', '2020-3-2', '2020-3-1']

In [62]:
df.loc[df['여행력\r\n']!='-\r\n','여행력\r\n'] = 1
df.loc[df['여행력\r\n']=='-\r\n','여행력\r\n'] = 0

In [63]:
for i in range(len(df['확진일\r\n'])):
    temp = df.iloc[i,2].split('.\r\n')
    df.iloc[i,2] = temp[0]

In [65]:
df.iloc[0,2] = '11.02'

In [66]:
df['확진일\r\n'].

0       11.02
1       11.02
2       11.02
3       11.02
4       11.02
5       11.02
6       11.02
7       11.02
8       11.02
9       11.02
10      11.02
11      11.02
12      11.02
13      11.02
14      11.02
15      11.02
16      11.02
17      11.02
18      11.02
19      11.02
20      11.02
21      11.02
22      11.01
23      11.01
24      11.01
25      11.01
26      11.01
27      11.01
28      11.01
29      11.01
        ...
6072     2.22
6073     2.23
6074     2.26
6075     2.23
6076     2.23
6077     2.22
6078     2.22
6079     2.22
6080     2.21
6081     2.21
6082     2.20
6083     2.20
6084     2.20
6085     2.20
6086     2.20
6087     2.19
6088     2.19
6089     2.16
6090     2.16
6091      2.7
6092      2.6
6093      2.5
6094      2.5
6095      2.2
6096     1.31
6097     1.31
6098     1.31
6099     1.30
6100     1.30
6101     1.30
Name: 확진일\r\n, Length: 6102, dtype: object

In [79]:
month = []
day = []
for i in range(len(df['확진일\r\n'])):
    temp = df.iloc[i,2].split('.')
    month.append(temp[0])
    day.append(temp[1])
df['month'] = month
df['day'] = day

In [73]:
temp = df.iloc[0,2].split('.')

In [80]:
df.head()

,연번,환자,확진일,거주지,여행력,접촉력,퇴원현황,month,day
0,6103,26804,11.02,동작구\r\n,0,감염경로 조사중\r\n,\r\n,11,02
1,6102,26799,11.02,구로구\n,0,강남구 헬스장 관련\r\n,\r\n,11,02
2,6101,26792,11.02,영등포구\r\n,0,감염경로 조사중\r\n,\r\n,11,02
3,6100,26791,11.02,종로구\r\n,0,감염경로 조사중\r\n,\r\n,11,02
4,6099,26784,11.02,송파구\r\n,0,송파구 소재 병원관련\r\n,\r\n,11,02

In [82]:
df.head()

,연번,환자,확진일,거주지,여행력,접촉력,퇴원현황,month,day,year
0,6103,26804,11.02,동작구\r\n,0,감염경로 조사중\r\n,\r\n,11,02,2020
1,6102,26799,11.02,구로구\n,0,강남구 헬스장 관련\r\n,\r\n,11,02,2020
2,6101,26792,11.02,영등포구\r\n,0,감염경로 조사중\r\n,\r\n,11,02,2020
3,6100,26791,11.02,종로구\r\n,0,감염경로 조사중\r\n,\r\n,11,02,2020
4,6099,26784,11.02,송파구\r\n,0,송파구 소재 병원관련\r\n,\r\n,11,02,2020

In [104]:
date = []
for i in range(len(df['확진일\r\n'])):
    date.append(str(df.iloc[i,9])+'-'+str(df.iloc[i,7])+'-'+str(df.iloc[i,8]))

In [105]:
df['Date'] = date

In [101]:
data = pd.DataFrame()

In [106]:
data['Date'] = df['Date']
data['traveled'] = df['여행력\r\n']

In [183]:
count = {}
d = []
c = 0
for day in a:
    count[day]=data.loc[df['Date']==day]['traveled'].sum()
    c = c+1
    d.append(day)

In [121]:
df2 = pd.read_csv("C:/Users/Seung kyu Hong/Desktop/Seoul2.csv",encoding="euc-kr")

In [173]:
data.loc[df['Date']=='2020-11-01']['traveled'].sum()

5

In [192]:
temp = pd.DataFrame()
temp['Date'] = count.keys()
temp['traveled'] = count.values()

In [194]:
temp.to_csv('test.csv',index=False)

In [200]:
te = pd.read_csv("C:/Users/Seung kyu Hong/Desktop/test.csv",encoding="euc-kr")

In [164]:
a = ['2020-3-1', '2020-3-10',
       '2020-3-11', '2020-3-12', '2020-3-13', '2020-3-14', '2020-3-15',
       '2020-3-16', '2020-3-17', '2020-3-18', '2020-3-19', '2020-3-2',
       '2020-3-20', '2020-3-21', '2020-3-22', '2020-3-23', '2020-3-24',
       '2020-3-25', '2020-3-26', '2020-3-27', '2020-3-28', '2020-3-29',
       '2020-3-3', '2020-3-30', '2020-3-31', '2020-3-4', '2020-3-5',
       '2020-3-6', '2020-3-7', '2020-3-8', '2020-3-9', '2020-4-01',
       '2020-4-02', '2020-4-04', '2020-4-05', '2020-4-06', '2020-4-07',
       '2020-4-08', '2020-4-09', '2020-4-10', '2020-4-11', '2020-4-12',
       '2020-4-13', '2020-4-14', '2020-4-15', '2020-4-16', '2020-4-17',
       '2020-4-18', '2020-4-19', '2020-4-20', '2020-4-21', '2020-4-24',
       '2020-4-27', '2020-4-3', '2020-4-30', '2020-5-01', '2020-5-02',
       '2020-5-08', '2020-5-09', '2020-5-10', '2020-5-11', '2020-5-12',
       '2020-5-13', '2020-5-14', '2020-5-15', '2020-5-16', '2020-5-17',
       '2020-5-18', '2020-5-19', '2020-5-20', '2020-5-21', '2020-5-22',
       '2020-5-23', '2020-5-24', '2020-5-25', '2020-5-26', '2020-5-27',
       '2020-5-28', '2020-5-29', '2020-5-30', '2020-5-31', '2020-5-9',
       '2020-6-01', '2020-6-02', '2020-6-03', '2020-6-04', '2020-6-05',
       '2020-6-06', '2020-6-07', '2020-6-08', '2020-6-09', '2020-6-10',
       '2020-6-11', '2020-6-12', '2020-6-13', '2020-6-14', '2020-6-15',
       '2020-6-16', '2020-6-17', '2020-6-18', '2020-6-19', '2020-6-20',
       '2020-6-21', '2020-6-22', '2020-6-23', '2020-6-24', '2020-6-25',
       '2020-6-26', '2020-6-27', '2020-6-28', '2020-6-29', '2020-6-30',
       '2020-7-01', '2020-7-02', '2020-7-03', '2020-7-04', '2020-7-05',
       '2020-7-06', '2020-7-07', '2020-7-08', '2020-7-09', '2020-7-10',
       '2020-7-11', '2020-7-12', '2020-7-13', '2020-7-14', '2020-7-15',
       '2020-7-16', '2020-7-17', '2020-7-18', '2020-7-19', '2020-7-20',
       '2020-7-21', '2020-7-22', '2020-7-23', '2020-7-24', '2020-7-25',
       '2020-7-26', '2020-7-27', '2020-7-28', '2020-7-29', '2020-7-30',
       '2020-7-31', '2020-8-1', '2020-8-10', '2020-8-11', '2020-8-12',
       '2020-8-13', '2020-8-14', '2020-8-15', '2020-8-16', '2020-8-17',
       '2020-8-18', '2020-8-19', '2020-8-2', '2020-8-20', '2020-8-21',
       '2020-8-22', '2020-8-23', '2020-8-24', '2020-8-25', '2020-8-26',
       '2020-8-27', '2020-8-28', '2020-8-29', '2020-8-3', '2020-8-30',
       '2020-8-31', '2020-8-4', '2020-8-5', '2020-8-6', '2020-8-7',
       '2020-8-8', '2020-8-9', '2020-9-01', '2020-9-02', '2020-9-03',
       '2020-9-04', '2020-9-05', '2020-9-06', '2020-9-07', '2020-9-08',
       '2020-9-09', '2020-9-10', '2020-9-11', '2020-9-12', '2020-9-13',
       '2020-9-14', '2020-9-15', '2020-9-16', '2020-9-17', '2020-9-18',
       '2020-9-19', '2020-9-20', '2020-9-21', '2020-9-22', '2020-9-23',
       '2020-9-24', '2020-9-25', '2020-9-26', '2020-9-27', '2020-9-28',
       '2020-9-29', '2020-9-30']

array(['2020-1-30', '2020-1-31', '2020-10-01', '2020-10-02', '2020-10-03',
       '2020-10-04', '2020-10-05', '2020-10-06', '2020-10-07',
       '2020-10-08', '2020-10-09', '2020-10-10', '2020-10-11',
       '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15',
       '2020-10-16', '2020-10-17', '2020-10-18', '2020-10-19',
       '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-23',
       '2020-10-24', '2020-10-25', '2020-10-26', '2020-10-27',
       '2020-10-28', '2020-10-29', '2020-10-30', '2020-10-31',
       '2020-11-01', '2020-11-02', '2020-2-16', '2020-2-19', '2020-2-2',
       '2020-2-20', '2020-2-21', '2020-2-22', '2020-2-23', '2020-2-24',
       '2020-2-25', '2020-2-26', '2020-2-27', '2020-2-28', '2020-2-29',
       '2020-2-5', '2020-2-6', '2020-2-7', '2020-3-1', '2020-3-10',
       '2020-3-11', '2020-3-12', '2020-3-13', '2020-3-14', '2020-3-15',
       '2020-3-16', '2020-3-17', '2020-3-18', '2020-3-19', '2020-3-2',
       '2020-3-20', '2020-3-21', '2020-3-22', '2020-3-23', '2020-3-24',
       '2020-3-25', '2020-3-26', '2020-3-27', '2020-3-28', '2020-3-29',
       '2020-3-3', '2020-3-30', '2020-3-31', '2020-3-4', '2020-3-5',
       '2020-3-6', '2020-3-7', '2020-3-8', '2020-3-9', '2020-4-01',
       '2020-4-02', '2020-4-04', '2020-4-05', '2020-4-06', '2020-4-07',
       '2020-4-08', '2020-4-09', '2020-4-10', '2020-4-11', '2020-4-12',
       '2020-4-13', '2020-4-14', '2020-4-15', '2020-4-16', '2020-4-17',
       '2020-4-18', '2020-4-19', '2020-4-20', '2020-4-21', '2020-4-24',
       '2020-4-27', '2020-4-3', '2020-4-30', '2020-5-01', '2020-5-02',
       '2020-5-08', '2020-5-09', '2020-5-10', '2020-5-11', '2020-5-12',
       '2020-5-13', '2020-5-14', '2020-5-15', '2020-5-16', '2020-5-17',
       '2020-5-18', '2020-5-19', '2020-5-20', '2020-5-21', '2020-5-22',
       '2020-5-23', '2020-5-24', '2020-5-25', '2020-5-26', '2020-5-27',
       '2020-5-28', '2020-5-29', '2020-5-30', '2020-5-31', '2020-5-9',
       '2020-6-01', '2020-6-02', '2020-6-03', '2020-6-04', '2020-6-05',
       '2020-6-06', '2020-6-07', '2020-6-08', '2020-6-09', '2020-6-10',
       '2020-6-11', '2020-6-12', '2020-6-13', '2020-6-14', '2020-6-15',
       '2020-6-16', '2020-6-17', '2020-6-18', '2020-6-19', '2020-6-20',
       '2020-6-21', '2020-6-22', '2020-6-23', '2020-6-24', '2020-6-25',
       '2020-6-26', '2020-6-27', '2020-6-28', '2020-6-29', '2020-6-30',
       '2020-7-01', '2020-7-02', '2020-7-03', '2020-7-04', '2020-7-05',
       '2020-7-06', '2020-7-07', '2020-7-08', '2020-7-09', '2020-7-10',
       '2020-7-11', '2020-7-12', '2020-7-13', '2020-7-14', '2020-7-15',
       '2020-7-16', '2020-7-17', '2020-7-18', '2020-7-19', '2020-7-20',
       '2020-7-21', '2020-7-22', '2020-7-23', '2020-7-24', '2020-7-25',
       '2020-7-26', '2020-7-27', '2020-7-28', '2020-7-29', '2020-7-30',
       '2020-7-31', '2020-8-1', '2020-8-10', '2020-8-11', '2020-8-12',
       '2020-8-13', '2020-8-14', '2020-8-15', '2020-8-16', '2020-8-17',
       '2020-8-18', '2020-8-19', '2020-8-2', '2020-8-20', '2020-8-21',
       '2020-8-22', '2020-8-23', '2020-8-24', '2020-8-25', '2020-8-26',
       '2020-8-27', '2020-8-28', '2020-8-29', '2020-8-3', '2020-8-30',
       '2020-8-31', '2020-8-4', '2020-8-5', '2020-8-6', '2020-8-7',
       '2020-8-8', '2020-8-9', '2020-9-01', '2020-9-02', '2020-9-03',
       '2020-9-04', '2020-9-05', '2020-9-06', '2020-9-07', '2020-9-08',
       '2020-9-09', '2020-9-10', '2020-9-11', '2020-9-12', '2020-9-13',
       '2020-9-14', '2020-9-15', '2020-9-16', '2020-9-17', '2020-9-18',
       '2020-9-19', '2020-9-20', '2020-9-21', '2020-9-22', '2020-9-23',
       '2020-9-24', '2020-9-25', '2020-9-26', '2020-9-27', '2020-9-28',
       '2020-9-29', '2020-9-30'], dtype=object)

In [196]:
te

           Date  traveled
0    2020-11-01         5
1    2020-10-31         0
2    2020-10-30         1
3    2020-10-29         0
4    2020-10-28         0
5    2020-10-27         2
6    2020-10-26         0
7    2020-10-25         0
8    2020-10-24         0
9    2020-10-23         0
10   2020-10-22         1
11   2020-10-21         0
12   2020-10-20         2
13   2020-10-19         2
14   2020-10-18         3
15   2020-10-17         2
16   2020-10-16         1
17   2020-10-15         1
18   2020-10-14         3
19   2020-10-13         0
20   2020-10-12         2
21   2020-10-11         2
22   2020-10-10         4
23   2020-10-09         2
24   2020-10-08         5
25   2020-10-07         1
26   2020-10-06         4
27   2020-10-05         2
28   2020-10-04         0
29   2020-10-03         0
..          ...       ...
216  2020-03-30         8
217  2020-03-29         9
218  2020-03-28        14
219  2020-03-27        11
220  2020-03-26        11
221  2020-03-25        10
222  2020-03-24        10
223  2020-03-23         4
224  2020-03-22         3
225  2020-03-21         3
226  2020-03-20         9
227  2020-03-19         6
228  2020-03-18         5
229  2020-03-17         3
230  2020-03-16         1
231  2020-03-15         0
232  2020-03-14         1
233  2020-03-13         2
234  2020-03-12         3
235  2020-03-11         1
236  2020-03-10         1
237  2020-03-09         1
238  2020-03-08         0
239  2020-03-07         1
240  2020-03-06         0
241  2020-03-05         0
242  2020-03-04         1
243  2020-03-03         0
244  2020-03-02         0
245  2020-03-01         0

[246 rows x 2 columns]

In [197]:
df2

           Date  Incdec  cleared  qurrate
0    2020-03-01       6       12     1.04
1    2020-03-02       6       13     1.08
2    2020-03-03       1       14     1.12
3    2020-03-04       5       16     1.14
4    2020-03-05       1       18     1.19
5    2020-03-06       7       20     1.23
6    2020-03-07       7       23     1.27
7    2020-03-08       9       26     1.30
8    2020-03-09      10       29     1.30
9    2020-03-10      11       31     1.45
10   2020-03-11      52       37     1.98
11   2020-03-12      19       38     2.18
12   2020-03-13      13       40     2.31
13   2020-03-14      13       44     2.45
14   2020-03-15       9       47     2.54
15   2020-03-16       6       52     2.60
16   2020-03-17      12       55     2.72
17   2020-03-18       5       55     2.77
18   2020-03-19      12       58     2.90
19   2020-03-20      17       64     3.07
20   2020-03-21      15       64     3.23
21   2020-03-22      10       64     3.33
22   2020-03-23       6       64     3.39
23   2020-03-24       4       72     3.43
24   2020-03-25      13       72     3.43
25   2020-03-26      13       80     3.70
26   2020-03-27      12       89     3.82
27   2020-03-28      18       93     4.01
28   2020-03-29      20       93     4.21
29   2020-03-30      16       92     4.38
..          ...     ...      ...      ...
219  2020-10-03      26     4456    55.07
221  2020-10-04      16     4466    55.23
222  2020-10-05      19     4475    55.43
223  2020-10-06      15     4584    55.58
224  2020-10-07      33     4736    55.92
225  2020-10-08      20     4809    56.13
226  2020-10-09      22     4846    56.35
227  2020-10-10      25     4847    56.61
228  2020-10-11      23     4878    56.84
229  2020-10-12      31     4894    57.16
231  2020-10-13      20     4965    57.37
232  2020-10-14      23     5050    57.61
233  2020-10-15      25     5055    57.86
234  2020-10-16      18     5091    58.05
235  2020-10-17      18     5119    58.23
236  2020-10-18      20     5132    58.44
237  2020-10-19      14     5161    58.58
239  2020-10-20      11     5217    58.69
240  2020-10-21      17     5268    58.87
241  2020-10-22      18     5283    59.05
242  2020-10-23      20     5304    59.26
243  2020-10-24      22     5350    59.49
244  2020-10-25      17     5350    59.66
245  2020-10-26      20     5368    59.87
246  2020-10-27      24     5394    60.11
247  2020-10-28      25     5434    60.37
248  2020-10-29      36     5462    60.74
249  2020-10-30      48     5475    61.23
250  2020-10-31      52     5495    61.76
251  2020-11-01      45     5496    62.22

[247 rows x 4 columns]

In [201]:
df2['traveled'] = te['traveled']

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [202]:
df2.head()

         Date  Incdec  cleared  qurrate  traveled
0  2020-03-01       6       12     1.04       0.0
1  2020-03-02       6       13     1.08       0.0
2  2020-03-03       1       14     1.12       0.0
3  2020-03-04       5       16     1.14       1.0
4  2020-03-05       1       18     1.19       0.0

In [203]:
c = pd.read_csv("C:/Users/Seung kyu Hong/Desktop/c.csv",encoding="euc-kr")

In [204]:
c.head()

         Date  confirmed
0  2020-03-01       3736
1  2020-03-02       4212
2  2020-03-03       4812
3  2020-03-04       5328
4  2020-03-05       5766

In [205]:
df2['TotalConfirmed'] = c['confirmed']

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2.to_csv('COVID_Data.csv',index=False)

In [263]:
i = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21',
     '22','23','24','25','26','27','28','29','30','31']
path = 'C:/Users/Seung kyu Hong/Desktop/INNER_PEOPLE_202003/INNER_PEOPLE_202003{0}'.format(i)+'.csv'

In [ ]:
df3 = pd.read_csv('C:/Users/Seung kyu Hong/Desktop/INNER_PEOPLE_20200901.csv',encoding='euc-kr')

In [284]:
year = '2020'
month = ['03','04','05','06','07','08','09']
days = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21',
     '22','23','24','25','26','27','28','29','30','31']
a = ['남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세부터74세생활인구수',
       '남자75세부터79세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수',
       '여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수',
       '여자35세부터39세생활인구수', '여자40세부터44세생활인구수', '여자45세부터49세생활인구수',
       '여자50세부터54세생활인구수', '여자55세부터59세생활인구수', '여자60세부터64세생활인구수',
       '여자65세부터69세생활인구수', '여자70세부터74세생활인구수', '여자75세부터79세생활인구수', '장기체류외국인수']
results = {}

for mon in month:
    for day in days:
        path = 'C:/Users/Seung kyu Hong/Desktop/INNER_PEOPLE_{0}{1}'.format(year,mon)+'/INNER_PEOPLE_{0}{1}{2}'.format(year,mon,day)+'.csv'
        df = pd.read_csv(path,encoding="euc-kr")
        for column in a:
            df.loc[df[column]=='*',column] = 0
        result = 0
        for column2 in a:
            result = result+df[column2].astype('float').sum()
        results[year+'-'+mon+'-'+day] = result

FileNotFoundError: File b'C:/Users/Seung kyu Hong/Desktop/INNER_PEOPLE_202004/INNER_PEOPLE_20200431.csv' does not exist

In [240]:
for c1 in a:
    df3.loc[df3[c1]=='*',c1] = 0

In [259]:
result = 0
for c1 in a:
    result = result+df3[c1].astype('float').sum()

In [217]:
a = ['남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세부터74세생활인구수',
       '남자75세부터79세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수',
       '여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수',
       '여자35세부터39세생활인구수', '여자40세부터44세생활인구수', '여자45세부터49세생활인구수',
       '여자50세부터54세생활인구수', '여자55세부터59세생활인구수', '여자60세부터64세생활인구수',
       '여자65세부터69세생활인구수', '여자70세부터74세생활인구수', '여자75세부터79세생활인구수', '장기체류외국인수']

In [257]:
df3['남자10세부터14세생활인구수'].astype('float')

0           0.0000
1           0.0000
2           0.0000
3           0.0000
4           0.0000
5           0.0000
6           0.0000
7           0.0000
8           0.0000
9           0.0000
10          0.0000
11          0.0000
12          0.0000
13          0.0000
14          0.0000
15          0.0000
16          0.0000
17          0.0000
18          0.0000
19          0.0000
20          0.0000
21          0.0000
22          0.0000
23          0.0000
24          0.0000
25         31.7038
26          0.0000
27          0.0000
28          0.0000
29          0.0000
            ...
249298      0.0000
249299      0.0000
249300      0.0000
249301      0.0000
249302      0.0000
249303      0.0000
249304    136.0148
249305      0.0000
249306      0.0000
249307      0.0000
249308      0.0000
249309      0.0000
249310      0.0000
249311      0.0000
249312      0.0000
249313      0.0000
249314      0.0000
249315      0.0000
249316      0.0000
249317      0.0000
249318      0.0000
249319      0.0000
249320      0.0000
249321      0.0000
249322      0.0000
249323      0.0000
249324      0.0000
249325      0.0000
249326      0.0000
249327     46.2522
Name: 남자10세부터14세생활인구수, Length: 249328, dtype: float64

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6102 entries, 0 to 6101
Data columns (total 11 columns):
연번
      6102 non-null int64
환자
      6102 non-null int64
확진일
     6102 non-null object
거주지
     6102 non-null object
여행력
     6102 non-null int64
접촉력
     6102 non-null object
퇴원현황
    6102 non-null object
month     6102 non-null object
day       6102 non-null object
year      6102 non-null int64
Date      6102 non-null object
dtypes: int64(4), object(7)
memory usage: 524.5+ KB

In [285]:
results

{'2020-03-01': 58133115.811700016,
 '2020-03-02': 73462705.243,
 '2020-03-03': 72156331.67469999,
 '2020-03-04': 73844703.17289999,
 '2020-03-05': 72234978.15030003,
 '2020-03-06': 75149014.862,
 '2020-03-07': 63314889.12919999,
 '2020-03-08': 59225666.596300006,
 '2020-03-09': 73025974.04729998,
 '2020-03-10': 71639133.0567,
 '2020-03-11': 72763556.4011,
 '2020-03-12': 72490790.64960001,
 '2020-03-13': 72452501.4013,
 '2020-03-14': 63343663.51229999,
 '2020-03-15': 58810049.80709999,
 '2020-03-16': 72457816.0097,
 '2020-03-17': 72393176.89119998,
 '2020-03-18': 73076276.105,
 '2020-03-19': 71918578.47860003,
 '2020-03-20': 73367562.57639998,
 '2020-03-21': 64216549.10379999,
 '2020-03-22': 59607404.3526,
 '2020-03-23': 73066784.09870002,
 '2020-03-24': 73275200.19409999,
 '2020-03-25': 72719148.39580001,
 '2020-03-26': 73265926.3645,
 '2020-03-27': 73138934.03930002,
 '2020-03-28': 64710681.96270001,
 '2020-03-29': 60499989.27639999,
 '2020-03-30': 73530621.12859999,
 '2020-03-31': 73976935.7523,
 '2020-04-01': 76369940.0302,
 '2020-04-02': 76491077.9378,
 '2020-04-03': 76738334.38849998,
 '2020-04-04': 66662223.88669999,
 '2020-04-05': 62252627.04360001,
 '2020-04-06': 76696236.2654,
 '2020-04-07': 76706385.90630001,
 '2020-04-08': 77002809.77,
 '2020-04-09': 76834806.6067,
 '2020-04-10': 77132476.04229999,
 '2020-04-11': 67260768.48189999,
 '2020-04-12': 62192244.55600001,
 '2020-04-13': 76688392.7595,
 '2020-04-14': 77633225.95639999,
 '2020-04-15': 66685732.384199984,
 '2020-04-16': 76776276.39060001,
 '2020-04-17': 75955951.14990002,
 '2020-04-18': 67892640.7809,
 '2020-04-19': 62165542.79020002,
 '2020-04-20': 76596705.8725,
 '2020-04-21': 77196562.9932,
 '2020-04-22': 76990671.32769999,
 '2020-04-23': 77391175.1411,
 '2020-04-24': 78042889.8724,
 '2020-04-25': 68021857.1914,
 '2020-04-26': 64020764.2721,
 '2020-04-27': 77485226.59429999,
 '2020-04-28': 78044413.0296,
 '2020-04-29': 78579106.79439996,
 '2020-04-30': 65121860.307900004}