In [139]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,StandardScaler,OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator,TransformerMixin
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import cross_val_score

In [43]:
train_data = pd.read_csv('./train.csv')
test_data = pd.read_csv('./test.csv')
combine = [train_data,test_data]

In [77]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,1,0,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,3,1,38.0,1,0,PC 17599,71.2833,1,C
2,3,1,3,2,1,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,3,1,35.0,1,0,113803,53.1000,1,S
4,5,0,3,1,0,35.0,0,0,373450,8.0500,0,S

In [27]:
class DataFrameSelector(BaseEstimator,TransformerMixin):
    def __init__(self,attr_name):
        self.attr_name = attr_name
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        return X[self.attr_name].values

In [44]:
for dataset in combine:
    dataset['Name'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

In [48]:
for dataset in combine:
    dataset['Name'] = dataset['Name'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Other')

    dataset['Name'] = dataset['Name'].replace('Mlle', 'Miss')
    dataset['Name'] = dataset['Name'].replace('Ms', 'Miss')
    dataset['Name'] = dataset['Name'].replace('Mme', 'Mrs')

In [61]:
train_data['Sex'] = (train_data['Sex'] == 'female').astype(int)

In [63]:
train_data['Cabin'] = (train_data['Cabin'].isna()==False).astype(int)

In [67]:
train_data['Name'].value_counts()

Mr        517
Miss      185
Mrs       126
Master     40
Other      23
Name: Name, dtype: int64

In [70]:
mapping = {'Mr':1, 'Miss':2,'Mrs':3,'Master':4,'Other':5}
for dataset in combine:
    dataset['Name']=dataset['Name'].map(mapping)

In [72]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null int64
Sex            891 non-null int32
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          891 non-null int32
Embarked       889 non-null object
dtypes: float64(2), int32(2), int64(6), object(2)
memory usage: 76.6+ KB

In [91]:
num_attr = ['Age','Fare']
cat_attr = ['Embarked']
num_pipe = Pipeline([
    ('selector',DataFrameSelector(num_attr)),
    ('imputer',SimpleImputer(strategy='median')),
    ('std_scaler',StandardScaler()),
])
cat_pipe = Pipeline([
    ('selector',DataFrameSelector(cat_attr)),
    ('imputer',SimpleImputer(strategy='constant',fill_value='missing')),
    ('encoder',OrdinalEncoder()),
])
transformer = ColumnTransformer([
    ('num',num_pipe,num_attr),
    ('cat',cat_pipe,cat_attr),
])
pipe = Pipeline([
    ('prepro',transformer),
])

In [92]:
prepare = pipe.fit_transform(train_data)

In [95]:
df = pd.DataFrame(prepare)

In [99]:
train_data['Age'] = df[0]
train_data['Fare'] = df[1]
train_data['Embarked'] = df[2]+1

In [114]:
temp = train_data.drop(['PassengerId','Ticket'],axis=1)

In [115]:
temp.corr()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
Survived,1.000000,-0.338481,0.407753,0.543351,-0.064910,-0.035322,0.081629,0.257307,0.316912,-0.163517
Pclass,-0.338481,1.000000,-0.173929,-0.131900,-0.339898,0.083081,0.018443,-0.549500,-0.725541,0.157112
Name,0.407753,-0.173929,1.000000,0.502713,-0.091211,0.269623,0.315784,0.136310,0.133390,-0.058549
Sex,0.543351,-0.131900,0.502713,1.000000,-0.081163,0.114631,0.245489,0.182333,0.140391,-0.104057
Age,-0.064910,-0.339898,-0.091211,-0.081163,1.000000,-0.233296,-0.172482,0.096688,0.240314,-0.014205
SibSp,-0.035322,0.083081,0.269623,0.114631,-0.233296,1.000000,0.414838,0.159651,-0.040460,0.066654
Parch,0.081629,0.018443,0.315784,0.245489,-0.172482,0.414838,1.000000,0.216225,0.036987,0.038322
Fare,0.257307,-0.549500,0.136310,0.182333,0.096688,0.159651,0.216225,1.000000,0.482075,-0.221226
Cabin,0.316912,-0.725541,0.133390,0.140391,0.240314,-0.040460,0.036987,0.482075,1.000000,-0.154457
Embarked,-0.163517,0.157112,-0.058549,-0.104057,-0.014205,0.066654,0.038322,-0.221226,-0.154457,1.000000

In [127]:
train_data.sort_values(by='Fare',ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,2,1,0.433312,0,0,PC 17755,9.667167,0,1.0
737,738,1,1,1,0,0.433312,0,0,PC 17755,9.667167,1,1.0
679,680,1,1,1,0,0.510161,0,1,PC 17755,9.667167,1,1.0
88,89,1,1,2,1,-0.488887,3,2,19950,4.647001,1,3.0
27,28,0,1,1,0,-0.796286,3,2,19950,4.647001,1,3.0
341,342,1,1,2,1,-0.412037,3,2,19950,4.647001,1,3.0
438,439,0,1,1,0,2.661957,1,4,19950,4.647001,1,3.0
311,312,1,1,2,1,-0.873136,2,2,PC 17608,4.634417,1,1.0
742,743,1,1,2,1,-0.642586,2,2,PC 17608,4.634417,1,1.0
118,119,0,1,1,0,-0.412037,0,1,PC 17558,4.335332,1,1.0
299,300,1,1,3,1,1.586059,0,1,PC 17558,4.335332,1,1.0
557,558,0,1,1,0,-0.104637,0,0,PC 17757,3.932723,0,1.0
700,701,1,1,3,1,-0.873136,1,0,PC 17757,3.932723,1,1.0
380,381,1,1,2,1,0.971260,0,0,PC 17757,3.932723,0,1.0
716,717,1,1,2,1,0.663861,0,0,PC 17757,3.932723,1,1.0
527,528,0,1,1,0,-0.104637,0,0,PC 17483,3.817033,1,3.0
377,378,0,1,1,0,-0.181487,0,2,113503,3.610065,1,1.0
730,731,1,1,2,1,-0.027788,0,0,24160,3.606793,1,3.0
779,780,1,1,3,1,1.048110,0,1,24160,3.606793,1,3.0
689,690,1,1,2,1,-1.103685,0,1,24160,3.606793,1,3.0
318,319,1,1,2,1,0.125912,0,2,36928,2.671118,1,3.0
856,857,1,1,3,1,1.201810,1,1,36928,2.671118,0,3.0
268,269,1,1,3,1,2.200858,0,1,PC 17582,2.441498,1,3.0
332,333,0,1,1,0,0.663861,0,1,PC 17582,2.441498,1,3.0
609,610,1,1,2,1,0.817561,0,0,PC 17582,2.441498,1,3.0
498,499,0,1,3,1,-0.335187,1,2,113781,2.402990,1,3.0
305,306,1,1,4,0,-2.185731,1,2,113781,2.402990,1,3.0
297,298,0,1,2,1,-2.102733,1,2,113781,2.402990,1,3.0
708,709,1,1,2,1,-0.565736,0,0,113781,2.402990,0,3.0
195,196,1,1,2,1,2.200858,0,0,PC 17569,2.301729,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
363,364,0,3,1,0,0.433312,0,0,SOTON/O.Q. 3101310,-0.506472,0,3.0
477,478,0,3,1,0,-0.027788,1,0,3460,-0.506557,0,3.0
129,130,0,3,1,0,1.201810,0,0,347061,-0.507982,0,3.0
804,805,1,3,1,0,-0.181487,0,0,347089,-0.507982,0,3.0
825,826,0,3,1,0,-0.104637,0,0,368323,-0.508486,0,2.0
411,412,0,3,1,0,-0.104637,0,0,394140,-0.510332,0,2.0
654,655,0,3,2,1,-0.873136,0,0,365226,-0.512513,0,2.0
143,144,0,3,1,0,-0.796286,0,0,365222,-0.512513,0,2.0
202,203,0,3,1,0,0.356462,0,0,3101264,-0.517631,0,3.0
371,372,0,3,1,0,-0.873136,1,0,3101267,-0.517631,0,3.0
818,819,0,3,1,0,1.048110,0,0,C 7075,-0.518553,0,3.0
843,844,0,3,1,0,0.394887,0,0,2683,-0.518805,0,1.0
326,327,0,3,1,0,2.431407,0,0,345364,-0.522832,0,3.0
872,873,0,1,1,0,0.279612,0,0,695,-0.547748,1,3.0
378,379,0,3,1,0,-0.719436,0,0,2648,-0.567631,0,1.0
466,467,0,2,1,0,-0.104637,0,0,239853,-0.648422,0,3.0
597,598,0,3,1,0,1.509209,0,0,LINE,-0.648422,0,3.0
271,272,1,3,1,0,-0.335187,0,0,LINE,-0.648422,0,3.0
277,278,0,2,1,0,-0.104637,0,0,239853,-0.648422,0,3.0
806,807,0,1,1,0,0.740711,0,0,112050,-0.648422,1,3.0
481,482,0,2,1,0,-0.104637,0,0,239854,-0.648422,0,3.0
302,303,0,3,1,0,-0.796286,0,0,LINE,-0.648422,0,3.0
179,180,0,3,1,0,0.510161,0,0,LINE,-0.648422,0,3.0
263,264,0,1,1,0,0.817561,0,0,112059,-0.648422,1,3.0
815,816,0,1,1,0,-0.104637,0,0,112058,-0.648422,1,3.0
633,634,0,1,1,0,-0.104637,0,0,112052,-0.648422,0,3.0
413,414,0,2,1,0,-0.104637,0,0,239853,-0.648422,0,3.0
822,823,0,1,5,0,0.663861,0,0,19972,-0.648422,0,3.0
732,733,0,2,1,0,-0.104637,0,0,239855,-0.648422,0,3.0
674,675,0,2,1,0,-0.104637,0,0,239856,-0.648422,0,3.0

In [135]:
X = train_data.drop(['Ticket','PassengerId','Survived','Embarked'],axis=1)
y = train_data['Survived'].copy()

In [136]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X,y)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [137]:
log_reg.score(X,y)

0.813692480359147

In [141]:
cross_val_score(log_reg,X,y,cv=10)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([0.83333333, 0.81111111, 0.76404494, 0.84269663, 0.79775281,
       0.76404494, 0.83146067, 0.82022472, 0.83146067, 0.84090909])

In [142]:
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,1,male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,3,female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,1,male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,1,male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,3,female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,1,male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,2,female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,1,male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,3,female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,1,male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,1,male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,1,male,46.0,0,0,694,26.0000,NaN,S
12,904,1,3,female,23.0,1,0,21228,82.2667,B45,S
13,905,2,1,male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,3,female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,3,female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,1,male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,1,male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,2,female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,3,female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,1,male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,4,male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,3,female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,1,male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,3,female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,1,male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,2,female,22.0,0,1,113509,61.9792,B36,C
27,919,3,1,male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,1,male,41.0,0,0,113054,30.5000,A21,S
29,921,3,1,male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,1,male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,4,male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,1,male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,3,female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,4,male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,1,male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,1,male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,3,female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,1,male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,3,female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,1,male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,1,male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,2,female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,1,male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,2,female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,1,male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,1,male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,1,male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,1,male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,1,male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,2,female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,2,female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,2,female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,3,female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,2,female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,1,male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,5,female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,1,male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,1,male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,4,male,NaN,1,1,2668,22.3583,NaN,C