In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [3]:
from sklearn.base import BaseEstimator,TransformerMixin
class removename(BaseEstimator,TransformerMixin):
    def __init__(self):
        self.names = []
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        for name_id in range(len(X['Name'])):
            self.names.append(X['Name'][name_id].split(',')[0])
        X['Name'] = self.names
        return X

In [63]:
n = removename()
n.transform(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,Moran,male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,McCarthy,male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,Palsson,male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,Johnson,female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,Nasser,female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,Sandstrom,female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,Bonnell,female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,Saundercock,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,Andersson,male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,Vestrom,female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,Hewlett,female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,Rice,male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,Williams,male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,Vander Planke,female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,Masselmani,female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,Fynney,male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,Beesley,male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,McGowan,female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,Sloper,male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,Palsson,female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,Asplund,female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,Emir,male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,Fortune,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,O'Dwyer,female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,Todoroff,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,Giles,male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,Swift,female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,Sage,female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,Gill,male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,Bystrom,female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,Duran y More,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,Roebling,male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,van Melkebeke,male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,Johnson,male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,Balkic,male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,Beckwith,female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,Carlsson,male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,Vander Cruyssen,male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,Abelson,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,Najib,female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,Gustafsson,male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,Petroff,male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,Laleff,male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,Potter,female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,Shelley,female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,Markun,male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,Dahlberg,female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,Banfield,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,Sutehall,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,Rice,female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,Montvila,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,Graham,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,Johnston,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,Behr,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,Dooley,male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder

class AttributesAdder(BaseEstimator,TransformerMixin):
    def __init__(self):
        self.family = []
    def fit(self,X,y=None):
        pass
    def transform(self,X,y=None):
        for idx in range(len(X['SibSp'])):
            self.family.append(X['SibSp'][idx] + X['Parch'][idx])
        X['Family'] = self.family
        del X['SibSp'] , X['Parch']
        return X
    
class Selector(BaseEstimator,TransformerMixin):
    def __init__(self,col_names):
        self.col_names = col_names
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        return X[self.col_names].values

In [5]:
numeric_col = ['Age','Fare']
numeric_transformer = Pipeline([
    ('selector',Selector(numeric_col)),
    ('imputer',SimpleImputer(strategy='median')),
    ('std_scaler',StandardScaler()),
])
categorical_col = ['Sex','Embarked','Pclass']
categorical_transformer = Pipeline([
    ('selector',Selector(categorical_col)),
    ('imputer',SimpleImputer(strategy='constant',fill_value='missing')),
    ('encoder',OneHotEncoder(handle_unknown='ignore')),
])

preprocessor = ColumnTransformer([
    ('num',numeric_transformer,numeric_col),
    ('cat',categorical_transformer,categorical_col),
])

clf = Pipeline([
    ('prepro',preprocessor),
])

In [6]:
aa = AttributesAdder()

In [7]:
aa.transform(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S,0
5,6,0,3,"Moran, Mr. James",male,NaN,330877,8.4583,NaN,Q,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,17463,51.8625,E46,S,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,349909,21.0750,NaN,S,4
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,347742,11.1333,NaN,S,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,237736,30.0708,NaN,C,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,PP 9549,16.7000,G6,S,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,113783,26.5500,C103,S,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,A/5. 2151,8.0500,NaN,S,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,347082,31.2750,NaN,S,6
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,350406,7.8542,NaN,S,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,248706,16.0000,NaN,S,0
16,17,0,3,"Rice, Master. Eugene",male,2.0,382652,29.1250,NaN,Q,5
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,244373,13.0000,NaN,S,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,345763,18.0000,NaN,S,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,2649,7.2250,NaN,C,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,239865,26.0000,NaN,S,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,248698,13.0000,D56,S,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,330923,8.0292,NaN,Q,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,113788,35.5000,A6,S,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,349909,21.0750,NaN,S,4
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,347077,31.3875,NaN,S,6
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,2631,7.2250,NaN,C,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,19950,263.0000,C23 C25 C27,S,5
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,330959,7.8792,NaN,Q,0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,349216,7.8958,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,28134,11.5000,NaN,S,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,17466,25.9292,D17,S,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,CA. 2343,69.5500,NaN,S,10
864,865,0,2,"Gill, Mr. John William",male,24.0,233866,13.0000,NaN,S,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,236852,13.0000,NaN,S,0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,SC/PARIS 2149,13.8583,NaN,C,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,PC 17590,50.4958,A24,S,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,345777,9.5000,NaN,S,0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,347742,11.1333,NaN,S,2
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,349248,7.8958,NaN,S,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,11751,52.5542,D35,S,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,695,5.0000,B51 B53 B55,S,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,345765,9.0000,NaN,S,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,P/PP 3381,24.0000,NaN,C,1
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,2667,7.2250,NaN,C,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,7534,9.8458,NaN,S,0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,349212,7.8958,NaN,S,0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,349217,7.8958,NaN,S,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,11767,83.1583,C50,C,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,230433,26.0000,NaN,S,1
881,882,0,3,"Markun, Mr. Johann",male,33.0,349257,7.8958,NaN,S,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,7552,10.5167,NaN,S,0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,C.A./SOTON 34068,10.5000,NaN,S,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,SOTON/OQ 392076,7.0500,NaN,S,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,382652,29.1250,NaN,Q,5
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,370376,7.7500,NaN,Q,0

In [18]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,Family
0,1,0,3,Braund,male,22.0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,Cumings,female,38.0,PC 17599,71.2833,C85,C,1
2,3,1,3,Heikkinen,female,26.0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,Futrelle,female,35.0,113803,53.1000,C123,S,1
4,5,0,3,Allen,male,35.0,373450,8.0500,NaN,S,0

In [8]:
y = data['Survived'].copy()

In [68]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [9]:
prepare = clf.fit_transform(data)

In [10]:
df = pd.DataFrame(prepare)

In [11]:
df.columns = [['Age','Fare','Female','Male','Embarked_C','Embarked_Q','Embared_S','Pclass_0','Pclass_1','Pclass_2','Pclass_3']]

In [12]:
df.drop('Pclass_0',inplace=True,axis=1)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\pandas\core\generic.py:3111: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [13]:
df.index = data['PassengerId']

In [14]:
df['Family'] = data['Family']

In [136]:
def repl(X,col_name):
    for idx in range(len(X[col_name])):
        if pd.isna(X[col_name][idx]) == False:
            X[col_name][idx] = 1
        else:
            X[col_name][idx] = 0
    return X

In [245]:
df.tail()

,Age,Fare,Female,Male,Embarked_C,Embarked_Q,Embared_S,Pclass_1,Pclass_2,Pclass_3,Family
886,-0.181487,-0.386671,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0
887,-0.796286,-0.044381,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0
888,-0.104637,-0.176263,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3
889,-0.258337,-0.044381,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0
890,0.202762,-0.492378,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0

In [15]:
df['Cabin']=(data['Cabin'].isna() == True).astype(int)

In [17]:
df.fillna(0, inplace=True)

In [18]:
X = df.copy()

In [19]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()

In [20]:
log_reg.fit(X,y)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [21]:
prediction = log_reg.predict(X)

In [263]:
prediction

array([0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [22]:
log_reg.score(X,y)

0.792368125701459

In [35]:
log_rmse

0.45566640681373577

In [23]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg,X,y,scoring="neg_mean_squared_error",cv=10)
log_rmse_scores = np.sqrt(-scores)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [24]:
log_rmse_scores

array([0.48304589, 0.45946829, 0.47404546, 0.39661489, 0.43704832,
       0.46204236, 0.48575205, 0.48575205, 0.44971901, 0.45226702])

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
forest_reg = RandomForestClassifier(n_estimators=10)
forest_reg.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [45]:
forest_reg.predict(X)

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [26]:
forest_reg.score(X,y)

0.9753086419753086

In [42]:
forest_scores = cross_val_score(forest_reg,X,y,scoring="neg_mean_squared_error",cv=10)
forest_rmse_score = np.sqrt(-forest_scores)

In [43]:
forest_rmse_score

array([0.48304589, 0.43461349, 0.49718308, 0.36719404, 0.33520076,
       0.44971901, 0.43704832, 0.48575205, 0.44971901, 0.41286141])

In [48]:
predicts = pd.DataFrame(log_reg.predict(X))

In [53]:
predicts.columns = ['log_reg']

In [54]:
predicts['forest_reg'] = forest_reg.predict(X)
predicts['Real'] = y

In [145]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    {'C':np.logspace(-20,20,5),
     'penalty':['l1','l2']}
]
grid_search = GridSearchCV(log_reg,param_grid,cv=10,n_jobs=1)
grid_search.fit(df,y)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=1,
       param_grid=[{'C': array([1.e-20, 1.e-10, 1.e+00, 1.e+10, 1.e+20]), 'penalty': ['l1', 'l2']}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [146]:
grid_search.best_params_

{'C': 1.0, 'penalty': 'l1'}

In [153]:
final_model = grid_search.best_estimator_
grid_search.best_estimator_

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l1', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [71]:
bb = AttributesAdder()

In [72]:
bb.transform(test)

,PassengerId,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,Family
0,892,3,"Kelly, Mr. James",male,34.5,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,3101298,12.2875,NaN,S,2
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,7538,9.2250,NaN,S,0
6,898,3,"Connolly, Miss. Kate",female,30.0,330972,7.6292,NaN,Q,0
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,248738,29.0000,NaN,S,2
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,2657,7.2292,NaN,C,0
9,901,3,"Davies, Mr. John Samuel",male,21.0,A/4 48871,24.1500,NaN,S,2
10,902,3,"Ilieff, Mr. Ylio",male,NaN,349220,7.8958,NaN,S,0
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,694,26.0000,NaN,S,0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,21228,82.2667,B45,S,1
13,905,2,"Howard, Mr. Benjamin",male,63.0,24065,26.0000,NaN,S,1
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,W.E.P. 5734,61.1750,E31,S,1
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,SC/PARIS 2167,27.7208,NaN,C,1
16,908,2,"Keane, Mr. Daniel",male,35.0,233734,12.3500,NaN,Q,0
17,909,3,"Assaf, Mr. Gerios",male,21.0,2692,7.2250,NaN,C,0
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,STON/O2. 3101270,7.9250,NaN,S,1
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,2696,7.2250,NaN,C,0
20,912,1,"Rothschild, Mr. Martin",male,55.0,PC 17603,59.4000,NaN,C,1
21,913,3,"Olsen, Master. Artur Karl",male,9.0,C 17368,3.1708,NaN,S,1
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,PC 17598,31.6833,NaN,S,0
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,PC 17597,61.3792,NaN,C,1
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,PC 17608,262.3750,B57 B59 B63 B66,C,4
25,917,3,"Robins, Mr. Alexander A",male,50.0,A/5. 3337,14.5000,NaN,S,1
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,113509,61.9792,B36,C,1
27,919,3,"Daher, Mr. Shedid",male,22.5,2698,7.2250,NaN,C,0
28,920,1,"Brady, Mr. John Bertram",male,41.0,113054,30.5000,A21,S,0
29,921,3,"Samaan, Mr. Elias",male,NaN,2662,21.6792,NaN,C,2
...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,364858,7.7500,NaN,Q,0
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,349909,21.0750,NaN,S,4
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,12749,93.5000,B24,S,0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,PC 17592,39.4000,D28,S,1
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,C.A. 2673,20.2500,NaN,S,2
393,1285,2,"Gilbert, Mr. William",male,47.0,C.A. 30769,10.5000,NaN,S,0
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,315153,22.0250,NaN,S,4
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,13695,60.0000,C31,S,1
396,1288,3,"Colbert, Mr. Patrick",male,24.0,371109,7.2500,NaN,Q,0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,13567,79.2000,B41,C,2
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,347065,7.7750,NaN,S,0
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,21332,7.7333,NaN,Q,0
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,36928,164.8667,C7,S,0
401,1293,2,"Gale, Mr. Harry",male,38.0,28664,21.0000,NaN,S,1
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,112378,59.4000,NaN,C,1
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,113059,47.1000,NaN,S,0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,17765,27.7208,D40,C,1
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,SC/PARIS 2166,13.8625,D38,C,0
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,28666,10.5000,NaN,S,1
407,1299,1,"Widener, Mr. George Dunton",male,50.0,113503,211.5000,C80,C,2
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,334915,7.7208,NaN,Q,0
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,SOTON/O.Q. 3101315,13.7750,NaN,S,2
410,1302,3,"Naughton, Miss. Hannah",female,NaN,365237,7.7500,NaN,Q,0
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,19928,90.0000,C78,Q,1
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,347086,7.7750,NaN,S,0
413,1305,3,"Spector, Mr. Woolf",male,NaN,A.5. 3236,8.0500,NaN,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,PC 17758,108.9000,C105,C,0
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,SOTON/O.Q. 3101262,7.2500,NaN,S,0
416,1308,3,"Ware, Mr. Frederick",male,NaN,359309,8.0500,NaN,S,0
417,1309,3,"Peter, Master. Michael J",male,NaN,2668,22.3583,NaN,C,2

In [73]:
prepare_test = clf.fit_transform(test)
prepare_test

array([[ 0.38623105, -0.49741333,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 1.37137004, -0.51227801,  1.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 2.55353683, -0.46410047,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.70147553, -0.50779638,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.20485235, -0.49345515,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.20485235, -0.23695704,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

In [74]:
df_test = pd.DataFrame(prepare_test)
df_test

            0         1    2    3    4    5    6    7    8    9
0    0.386231 -0.497413  0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0
1    1.371370 -0.512278  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0
2    2.553537 -0.464100  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
3   -0.204852 -0.482475  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
4   -0.598908 -0.417492  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0
5   -1.229397 -0.472391  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
6    0.031581 -0.500999  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
7   -0.283663 -0.117894  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0
8   -0.914152 -0.508169  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0
9   -0.677719 -0.204838  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
10  -0.204852 -0.496219  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
11   1.292559 -0.171674  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0
12  -0.520097  0.836992  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
13   2.632348 -0.171674  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0
14   1.371370  0.458892  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
15  -0.441286 -0.140826  1.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0
16   0.425637 -0.416371  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
17  -0.677719 -0.508245  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0
18  -0.204852 -0.495696  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0
19   1.213748 -0.508245  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0
20   2.001859  0.427072  0.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
21  -1.623452 -0.580922  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
22  -0.204852 -0.069792  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
23  -0.677719  0.462552  0.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
24   1.450181  4.065709  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
25   1.607803 -0.377829  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
26  -0.598908  0.473308  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
27  -0.559502 -0.508245  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0
28   0.898503 -0.091005  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0
29  -0.204852 -0.249131  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0
..        ...       ...  ...  ...  ...  ...  ...  ...  ...  ...
388 -0.677719 -0.498833  0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0
389 -1.859886 -0.259962  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
390 -0.520097  1.038366  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0
391  1.686615  0.068541  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
392 -1.308208 -0.274752  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
393  1.371370 -0.449535  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0
394 -0.047230 -0.242932  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
395 -0.914152  0.437828  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
396 -0.441286 -0.507796  0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0
397  1.450181  0.782017  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
398 -0.598908 -0.498385  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
399  0.110392 -0.499132  0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0
400  0.031581  2.317724  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
401  0.662070 -0.261307  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0
402 -0.598908  0.427072  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
403 -0.992964  0.206576  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0
404  1.056126 -0.140826  0.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
405 -0.756530 -0.389257  0.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0
406 -0.520097 -0.449535  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0
407  1.607803  3.153697  0.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
408 -0.204852 -0.499357  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
409 -2.096319 -0.390826  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0
410 -0.204852 -0.498833  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
411  0.583259  0.975624  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0
412 -0.126041 -0.498385  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0
413 -0.204852 -0.493455  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
414  0.740881  1.314435  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
415  0.701476 -0.507796  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
416 -0.204852 -0.493455  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
417 -0.204852 -0.236957  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0

[418 rows x 10 columns]

In [75]:
df_test.columns = [['Age','Fare','Female','Male','Embarked_C','Embarked_Q','Embared_S','Pclass_1','Pclass_2','Pclass_3']]

In [76]:
df_test['Family'] = test['Family']

In [77]:
df_test['Cabin'] = test['Cabin']

In [78]:
df_test['Cabin']=(df_test['Cabin'].isna()==True).astype(int)

In [79]:
df_test

,Age,Fare,Female,Male,Embarked_C,Embarked_Q,Embared_S,Pclass_1,Pclass_2,Pclass_3,Family,Cabin
0,0.386231,-0.497413,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1
1,1.371370,-0.512278,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1,1
2,2.553537,-0.464100,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0,1
3,-0.204852,-0.482475,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1
4,-0.598908,-0.417492,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2,1
5,-1.229397,-0.472391,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1
6,0.031581,-0.500999,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1
7,-0.283663,-0.117894,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,2,1
8,-0.914152,-0.508169,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,1
9,-0.677719,-0.204838,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2,1
10,-0.204852,-0.496219,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1
11,1.292559,-0.171674,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0,1
12,-0.520097,0.836992,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1,0
13,2.632348,-0.171674,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1,1
14,1.371370,0.458892,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1,0
15,-0.441286,-0.140826,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1
16,0.425637,-0.416371,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0,1
17,-0.677719,-0.508245,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0,1
18,-0.204852,-0.495696,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1,1
19,1.213748,-0.508245,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,1
20,2.001859,0.427072,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1
21,-1.623452,-0.580922,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1,1
22,-0.204852,-0.069792,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0,1
23,-0.677719,0.462552,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1
24,1.450181,4.065709,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4,0
25,1.607803,-0.377829,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1,1
26,-0.598908,0.473308,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,0
27,-0.559502,-0.508245,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0,1
28,0.898503,-0.091005,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0,0
29,-0.204852,-0.249131,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
388,-0.677719,-0.498833,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1
389,-1.859886,-0.259962,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,4,1
390,-0.520097,1.038366,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0,0
391,1.686615,0.068541,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1,0
392,-1.308208,-0.274752,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2,1
393,1.371370,-0.449535,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0,1
394,-0.047230,-0.242932,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,4,1
395,-0.914152,0.437828,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1,0
396,-0.441286,-0.507796,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1
397,1.450181,0.782017,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2,0
398,-0.598908,-0.498385,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1
399,0.110392,-0.499132,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1
400,0.031581,2.317724,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0,0
401,0.662070,-0.261307,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1,1
402,-0.598908,0.427072,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1
403,-0.992964,0.206576,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0,1
404,1.056126,-0.140826,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1,0
405,-0.756530,-0.389257,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0,0
406,-0.520097,-0.449535,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1,1
407,1.607803,3.153697,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2,0
408,-0.204852,-0.499357,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1
409,-2.096319,-0.390826,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2,1
410,-0.204852,-0.498833,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1
411,0.583259,0.975624,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,0
412,-0.126041,-0.498385,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1
413,-0.204852,-0.493455,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1
414,0.740881,1.314435,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,0
415,0.701476,-0.507796,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1
416,-0.204852,-0.493455,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1
417,-0.204852,-0.236957,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,2,1

In [80]:
log_reg.predict(df_test)
log_reg

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [123]:
Goal = pd.read_csv('./gender_submission.csv')

In [124]:
Real = Goal['Survived'].copy()
Real

0      0
1      1
2      0
3      0
4      1
5      0
6      1
7      0
8      1
9      0
10     0
11     0
12     1
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    0
390    0
391    1
392    0
393    0
394    0
395    1
396    0
397    1
398    0
399    0
400    1
401    0
402    1
403    0
404    0
405    0
406    0
407    0
408    1
409    1
410    1
411    1
412    1
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [97]:
log_reg.score(df_test,Real)

0.9138755980861244

In [82]:
Goal['log_reg'] = log_reg.predict(df_test)

In [122]:
Goal

     PassengerId  Survived  for_reg
0            892         0        0
1            893         0        0
2            894         0        0
3            895         0        0
4            896         1        1
5            897         0        0
6            898         1        0
7            899         0        0
8            900         1        1
9            901         0        0
10           902         0        0
11           903         0        0
12           904         1        1
13           905         0        0
14           906         1        1
15           907         1        1
16           908         0        0
17           909         0        0
18           910         1        1
19           911         0        0
20           912         0        0
21           913         0        0
22           914         1        1
23           915         1        1
24           916         1        1
25           917         0        0
26           918         1        1
27           919         0        0
28           920         0        0
29           921         0        0
..           ...       ...      ...
388         1280         0        0
389         1281         0        0
390         1282         1        0
391         1283         1        1
392         1284         0        0
393         1285         0        0
394         1286         0        0
395         1287         1        1
396         1288         0        0
397         1289         1        1
398         1290         0        0
399         1291         0        0
400         1292         1        1
401         1293         0        0
402         1294         1        1
403         1295         1        0
404         1296         1        0
405         1297         0        0
406         1298         0        0
407         1299         0        0
408         1300         1        0
409         1301         1        1
410         1302         1        0
411         1303         1        1
412         1304         1        1
413         1305         0        0
414         1306         1        1
415         1307         0        0
416         1308         0        0
417         1309         0        0

[418 rows x 3 columns]

In [112]:
Goal['Survived'] = final_model.predict(df_test)

In [96]:
forest_reg.score(df_test,Real)

0.8660287081339713

In [113]:
Submission = Goal.drop('Survived',axis=1)
Submission.columns = ['PassengerId','Survived']

In [114]:
Submission.to_csv('./Submission_2.csv',index=False)

In [96]:
Submission.drop('index',axis=1)

KeyError: "['index'] not found in axis"

In [92]:
Submission.to_csv('./Submission.csv')

In [49]:
grid_search.best_estimator_.set_params

<bound method BaseEstimator.set_params of LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)>

In [98]:
df_2 = df.drop(['Embarked_Q','Pclass_2'],axis=1)
df_2.fillna(0,inplace=True)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\pandas\core\generic.py:3111: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [105]:
y = data['Survived'].copy()

In [112]:
log_reg.fit(df_2,y)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [113]:
log_reg.predict(df_2)

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0], dtype=int64)

In [114]:
log_reg.score(df_2,y)

0.7901234567901234

In [115]:
y_test = Goal['Survived'].copy()

In [116]:
log_reg.score(df_test2,y_test)

0.9138755980861244

In [117]:
log_reg.predict(df_test2)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [119]:
from sklearn.tree import DecisionTreeClassifier
tree_cla = DecisionTreeClassifier()
tree_cla.fit(df_2,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [120]:
tree_cla.score(df_2,y)

0.9887766554433222

In [122]:
tree_cla.score(df_test2,y_test)

0.7751196172248804

In [69]:
final_model.fit(df_2,y)
final_model.score(df_2,y)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7957351290684624

In [68]:
final_model.score(X,y)
grid_search.best_estimator_.coef_

ValueError: X has 12 features per sample; expecting 10

In [70]:
final_model.score(df_test2,y_test)

NameError: name 'df_test2' is not defined

In [141]:
final_model.predict(df_test2)

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [147]:
Submit = test['PassengerId']
Submit['Survived'] = final_model.predict(df_test2)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [109]:
df_test.drop(['Embarked_Q','Pclass_2'],axis=1,inplace=True)

C:\Users\Seung kyu Hong\Anaconda3\lib\site-packages\pandas\core\generic.py:3111: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [156]:
final_model.predict(df_test)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [144]:
final_model.coef_

array([[-0.42188329,  0.02009303,  2.12082484, -0.41379659,  0.        ,
        -0.49033026,  0.92491768, -1.30357179, -0.04711094, -0.30693803]])

In [157]:
Submission['Survived'] = final_model.predict(df_test)
Submission.to_csv('./Submission_2.csv',index=False)

In [155]:
final_model.score(df_test,Real)

1.0